body{ 
	text-align: center;
	padding :10%;
}
h3{
	font-size: 30px;
}
input{
	border: none;
	border-bottom: 2px solid black;
	font-size: 30px;
	width :130px;
	text-align: center;
}
button{
	padding:10px;
	font-size: 20px;
	margin :10px;
}

.displayColor{
	margin-left: 40%;
	margin-right: 40%;
	height: 30px;
	width: 20%;	
	background-color: #ffffff;
	border:1px solid black;
	box-shadow: 0px 0px 10px black;
	border-radius: 25px;
}
